@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #326dee;
}

.text-hover-primary:hover {
  color: #326dee;
  cursor: pointer;
}

.bg-primary {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.text-primary-hover-light-1:hover {
  color: #477cf0;
}

.text-primary-dark-1 {
  color: #477cf0;
}

.text-primary-hover-dark-1:hover {
  color: #2d62d6;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}

.bg-primary-dark-1 {
  background-color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.text-primary-hover-light-2:hover {
  color: #5b8af1;
}

.text-primary-dark-2 {
  color: #5b8af1;
}

.text-primary-hover-dark-2:hover {
  color: #2857be;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}

.bg-primary-dark-2 {
  background-color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.text-primary-hover-light-3:hover {
  color: #7099f3;
}

.text-primary-dark-3 {
  color: #7099f3;
}

.text-primary-hover-dark-3:hover {
  color: #234ca7;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}

.bg-primary-dark-3 {
  background-color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.text-primary-hover-light-4:hover {
  color: #84a7f5;
}

.text-primary-dark-4 {
  color: #84a7f5;
}

.text-primary-hover-dark-4:hover {
  color: #1e418f;
}

.bg-primary-light-4 {
  background-color: #84a7f5;
}

.bg-primary-dark-4 {
  background-color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.text-primary-hover-light-5:hover {
  color: #99b6f7;
}

.text-primary-dark-5 {
  color: #99b6f7;
}

.text-primary-hover-dark-5:hover {
  color: #193777;
}

.bg-primary-light-5 {
  background-color: #99b6f7;
}

.bg-primary-dark-5 {
  background-color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.text-primary-hover-light-6:hover {
  color: #adc5f8;
}

.text-primary-dark-6 {
  color: #adc5f8;
}

.text-primary-hover-dark-6:hover {
  color: #142c5f;
}

.bg-primary-light-6 {
  background-color: #adc5f8;
}

.bg-primary-dark-6 {
  background-color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.text-primary-hover-light-7:hover {
  color: #c2d3fa;
}

.text-primary-dark-7 {
  color: #c2d3fa;
}

.text-primary-hover-dark-7:hover {
  color: #0f2147;
}

.bg-primary-light-7 {
  background-color: #c2d3fa;
}

.bg-primary-dark-7 {
  background-color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.text-primary-hover-light-8:hover {
  color: #d6e2fc;
}

.text-primary-dark-8 {
  color: #d6e2fc;
}

.text-primary-hover-dark-8:hover {
  color: #0a1630;
}

.bg-primary-light-8 {
  background-color: #d6e2fc;
}

.bg-primary-dark-8 {
  background-color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.text-primary-hover-light-9:hover {
  color: #ebf0fd;
}

.text-primary-dark-9 {
  color: #ebf0fd;
}

.text-primary-hover-dark-9:hover {
  color: #050b18;
}

.bg-primary-light-9 {
  background-color: #ebf0fd;
}

.bg-primary-dark-9 {
  background-color: #ebf0fd;
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
  cursor: pointer;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-secondary-light-1 {
  color: #31ce94;
}

.text-secondary-hover-light-1:hover {
  color: #31ce94;
}

.text-secondary-dark-1 {
  color: #31ce94;
}

.text-secondary-hover-dark-1:hover {
  color: #17b47a;
}

.bg-secondary-light-1 {
  background-color: #31ce94;
}

.bg-secondary-dark-1 {
  background-color: #31ce94;
}

.text-secondary-light-2 {
  color: #48d3a0;
}

.text-secondary-hover-light-2:hover {
  color: #48d3a0;
}

.text-secondary-dark-2 {
  color: #48d3a0;
}

.text-secondary-hover-dark-2:hover {
  color: #15a06d;
}

.bg-secondary-light-2 {
  background-color: #48d3a0;
}

.bg-secondary-dark-2 {
  background-color: #48d3a0;
}

.text-secondary-light-3 {
  color: #5fd9ac;
}

.text-secondary-hover-light-3:hover {
  color: #5fd9ac;
}

.text-secondary-dark-3 {
  color: #5fd9ac;
}

.text-secondary-hover-dark-3:hover {
  color: #128c5f;
}

.bg-secondary-light-3 {
  background-color: #5fd9ac;
}

.bg-secondary-dark-3 {
  background-color: #5fd9ac;
}

.text-secondary-light-4 {
  color: #76deb8;
}

.text-secondary-hover-light-4:hover {
  color: #76deb8;
}

.text-secondary-dark-4 {
  color: #76deb8;
}

.text-secondary-hover-dark-4:hover {
  color: #107852;
}

.bg-secondary-light-4 {
  background-color: #76deb8;
}

.bg-secondary-dark-4 {
  background-color: #76deb8;
}

.text-secondary-light-5 {
  color: #8de4c4;
}

.text-secondary-hover-light-5:hover {
  color: #8de4c4;
}

.text-secondary-dark-5 {
  color: #8de4c4;
}

.text-secondary-hover-dark-5:hover {
  color: #0d6444;
}

.bg-secondary-light-5 {
  background-color: #8de4c4;
}

.bg-secondary-dark-5 {
  background-color: #8de4c4;
}

.text-secondary-light-6 {
  color: #a3e9cf;
}

.text-secondary-hover-light-6:hover {
  color: #a3e9cf;
}

.text-secondary-dark-6 {
  color: #a3e9cf;
}

.text-secondary-hover-dark-6:hover {
  color: #0a5036;
}

.bg-secondary-light-6 {
  background-color: #a3e9cf;
}

.bg-secondary-dark-6 {
  background-color: #a3e9cf;
}

.text-secondary-light-7 {
  color: #baefdb;
}

.text-secondary-hover-light-7:hover {
  color: #baefdb;
}

.text-secondary-dark-7 {
  color: #baefdb;
}

.text-secondary-hover-dark-7:hover {
  color: #083c29;
}

.bg-secondary-light-7 {
  background-color: #baefdb;
}

.bg-secondary-dark-7 {
  background-color: #baefdb;
}

.text-secondary-light-8 {
  color: #d1f4e7;
}

.text-secondary-hover-light-8:hover {
  color: #d1f4e7;
}

.text-secondary-dark-8 {
  color: #d1f4e7;
}

.text-secondary-hover-dark-8:hover {
  color: #05281b;
}

.bg-secondary-light-8 {
  background-color: #d1f4e7;
}

.bg-secondary-dark-8 {
  background-color: #d1f4e7;
}

.text-secondary-light-9 {
  color: #e8faf3;
}

.text-secondary-hover-light-9:hover {
  color: #e8faf3;
}

.text-secondary-dark-9 {
  color: #e8faf3;
}

.text-secondary-hover-dark-9:hover {
  color: #03140e;
}

.bg-secondary-light-9 {
  background-color: #e8faf3;
}

.bg-secondary-dark-9 {
  background-color: #e8faf3;
}

.text-error {
  color: #d32752;
}

.text-hover-error:hover {
  color: #d32752;
  cursor: pointer;
}

.bg-error {
  background-color: #d32752;
}

.text-error-light-1 {
  color: #d73d63;
}

.text-error-hover-light-1:hover {
  color: #d73d63;
}

.text-error-dark-1 {
  color: #d73d63;
}

.text-error-hover-dark-1:hover {
  color: #be234a;
}

.bg-error-light-1 {
  background-color: #d73d63;
}

.bg-error-dark-1 {
  background-color: #d73d63;
}

.text-error-light-2 {
  color: #dc5275;
}

.text-error-hover-light-2:hover {
  color: #dc5275;
}

.text-error-dark-2 {
  color: #dc5275;
}

.text-error-hover-dark-2:hover {
  color: #a91f42;
}

.bg-error-light-2 {
  background-color: #dc5275;
}

.bg-error-dark-2 {
  background-color: #dc5275;
}

.text-error-light-3 {
  color: #e06886;
}

.text-error-hover-light-3:hover {
  color: #e06886;
}

.text-error-dark-3 {
  color: #e06886;
}

.text-error-hover-dark-3:hover {
  color: #941b39;
}

.bg-error-light-3 {
  background-color: #e06886;
}

.bg-error-dark-3 {
  background-color: #e06886;
}

.text-error-light-4 {
  color: #e57d97;
}

.text-error-hover-light-4:hover {
  color: #e57d97;
}

.text-error-dark-4 {
  color: #e57d97;
}

.text-error-hover-dark-4:hover {
  color: #7f1731;
}

.bg-error-light-4 {
  background-color: #e57d97;
}

.bg-error-dark-4 {
  background-color: #e57d97;
}

.text-error-light-5 {
  color: #e993a9;
}

.text-error-hover-light-5:hover {
  color: #e993a9;
}

.text-error-dark-5 {
  color: #e993a9;
}

.text-error-hover-dark-5:hover {
  color: #6a1429;
}

.bg-error-light-5 {
  background-color: #e993a9;
}

.bg-error-dark-5 {
  background-color: #e993a9;
}

.text-error-light-6 {
  color: #eda9ba;
}

.text-error-hover-light-6:hover {
  color: #eda9ba;
}

.text-error-dark-6 {
  color: #eda9ba;
}

.text-error-hover-dark-6:hover {
  color: #541021;
}

.bg-error-light-6 {
  background-color: #eda9ba;
}

.bg-error-dark-6 {
  background-color: #eda9ba;
}

.text-error-light-7 {
  color: #f2becb;
}

.text-error-hover-light-7:hover {
  color: #f2becb;
}

.text-error-dark-7 {
  color: #f2becb;
}

.text-error-hover-dark-7:hover {
  color: #3f0c19;
}

.bg-error-light-7 {
  background-color: #f2becb;
}

.bg-error-dark-7 {
  background-color: #f2becb;
}

.text-error-light-8 {
  color: #f6d4dc;
}

.text-error-hover-light-8:hover {
  color: #f6d4dc;
}

.text-error-dark-8 {
  color: #f6d4dc;
}

.text-error-hover-dark-8:hover {
  color: #2a0810;
}

.bg-error-light-8 {
  background-color: #f6d4dc;
}

.bg-error-dark-8 {
  background-color: #f6d4dc;
}

.text-error-light-9 {
  color: #fbe9ee;
}

.text-error-hover-light-9:hover {
  color: #fbe9ee;
}

.text-error-dark-9 {
  color: #fbe9ee;
}

.text-error-hover-dark-9:hover {
  color: #150408;
}

.bg-error-light-9 {
  background-color: #fbe9ee;
}

.bg-error-dark-9 {
  background-color: #fbe9ee;
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover {
  color: #f6c31c;
  cursor: pointer;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.text-info-hover-light-1:hover {
  color: #f7c933;
}

.text-info-dark-1 {
  color: #f7c933;
}

.text-info-hover-dark-1:hover {
  color: #ddb019;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.bg-info-dark-1 {
  background-color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.text-info-hover-light-2:hover {
  color: #f8cf49;
}

.text-info-dark-2 {
  color: #f8cf49;
}

.text-info-hover-dark-2:hover {
  color: #c59c16;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.bg-info-dark-2 {
  background-color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.text-info-hover-light-3:hover {
  color: #f9d560;
}

.text-info-dark-3 {
  color: #f9d560;
}

.text-info-hover-dark-3:hover {
  color: #ac8914;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.bg-info-dark-3 {
  background-color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.text-info-hover-light-4:hover {
  color: #fadb77;
}

.text-info-dark-4 {
  color: #fadb77;
}

.text-info-hover-dark-4:hover {
  color: #947511;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.bg-info-dark-4 {
  background-color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.text-info-hover-light-5:hover {
  color: #fbe18e;
}

.text-info-dark-5 {
  color: #fbe18e;
}

.text-info-hover-dark-5:hover {
  color: #7b620e;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.bg-info-dark-5 {
  background-color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.text-info-hover-light-6:hover {
  color: #fbe7a4;
}

.text-info-dark-6 {
  color: #fbe7a4;
}

.text-info-hover-dark-6:hover {
  color: #624e0b;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.bg-info-dark-6 {
  background-color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.text-info-hover-light-7:hover {
  color: #fcedbb;
}

.text-info-dark-7 {
  color: #fcedbb;
}

.text-info-hover-dark-7:hover {
  color: #4a3b08;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.bg-info-dark-7 {
  background-color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.text-info-hover-light-8:hover {
  color: #fdf3d2;
}

.text-info-dark-8 {
  color: #fdf3d2;
}

.text-info-hover-dark-8:hover {
  color: #312706;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.bg-info-dark-8 {
  background-color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.text-info-hover-light-9:hover {
  color: #fef9e8;
}

.text-info-dark-9 {
  color: #fef9e8;
}

.text-info-hover-dark-9:hover {
  color: #191403;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.bg-info-dark-9 {
  background-color: #fef9e8;
}

.text-blue {
  color: #1919e6;
}

.text-hover-blue:hover {
  color: #1919e6;
  cursor: pointer;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue-light-1 {
  color: #3030e9;
}

.text-blue-hover-light-1:hover {
  color: #3030e9;
}

.text-blue-dark-1 {
  color: #3030e9;
}

.text-blue-hover-dark-1:hover {
  color: #1717cf;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.bg-blue-dark-1 {
  background-color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.text-blue-hover-light-2:hover {
  color: #4747eb;
}

.text-blue-dark-2 {
  color: #4747eb;
}

.text-blue-hover-dark-2:hover {
  color: #1414b8;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.bg-blue-dark-2 {
  background-color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.text-blue-hover-light-3:hover {
  color: #5e5eee;
}

.text-blue-dark-3 {
  color: #5e5eee;
}

.text-blue-hover-dark-3:hover {
  color: #1212a1;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.bg-blue-dark-3 {
  background-color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.text-blue-hover-light-4:hover {
  color: #7575f0;
}

.text-blue-dark-4 {
  color: #7575f0;
}

.text-blue-hover-dark-4:hover {
  color: #0f0f8a;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.bg-blue-dark-4 {
  background-color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.text-blue-hover-light-5:hover {
  color: #8c8cf3;
}

.text-blue-dark-5 {
  color: #8c8cf3;
}

.text-blue-hover-dark-5:hover {
  color: #0d0d73;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.bg-blue-dark-5 {
  background-color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.text-blue-hover-light-6:hover {
  color: #a3a3f5;
}

.text-blue-dark-6 {
  color: #a3a3f5;
}

.text-blue-hover-dark-6:hover {
  color: #0a0a5c;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.bg-blue-dark-6 {
  background-color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.text-blue-hover-light-7:hover {
  color: #babaf8;
}

.text-blue-dark-7 {
  color: #babaf8;
}

.text-blue-hover-dark-7:hover {
  color: #080845;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.bg-blue-dark-7 {
  background-color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.text-blue-hover-light-8:hover {
  color: #d1d1fa;
}

.text-blue-dark-8 {
  color: #d1d1fa;
}

.text-blue-hover-dark-8:hover {
  color: #05052e;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.bg-blue-dark-8 {
  background-color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fd;
}

.text-blue-hover-light-9:hover {
  color: #e8e8fd;
}

.text-blue-dark-9 {
  color: #e8e8fd;
}

.text-blue-hover-dark-9:hover {
  color: #030317;
}

.bg-blue-light-9 {
  background-color: #e8e8fd;
}

.bg-blue-dark-9 {
  background-color: #e8e8fd;
}

.text-red {
  color: #e61919;
}

.text-hover-red:hover {
  color: #e61919;
  cursor: pointer;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.text-red-hover-light-1:hover {
  color: #e93030;
}

.text-red-dark-1 {
  color: #e93030;
}

.text-red-hover-dark-1:hover {
  color: #cf1717;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.bg-red-dark-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-red-hover-light-2:hover {
  color: #eb4747;
}

.text-red-dark-2 {
  color: #eb4747;
}

.text-red-hover-dark-2:hover {
  color: #b81414;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.bg-red-dark-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-red-hover-light-3:hover {
  color: #ee5e5e;
}

.text-red-dark-3 {
  color: #ee5e5e;
}

.text-red-hover-dark-3:hover {
  color: #a11212;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.bg-red-dark-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-red-hover-light-4:hover {
  color: #f07575;
}

.text-red-dark-4 {
  color: #f07575;
}

.text-red-hover-dark-4:hover {
  color: #8a0f0f;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.bg-red-dark-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-red-hover-light-5:hover {
  color: #f38c8c;
}

.text-red-dark-5 {
  color: #f38c8c;
}

.text-red-hover-dark-5:hover {
  color: #730d0d;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.bg-red-dark-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-red-hover-light-6:hover {
  color: #f5a3a3;
}

.text-red-dark-6 {
  color: #f5a3a3;
}

.text-red-hover-dark-6:hover {
  color: #5c0a0a;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.bg-red-dark-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-red-hover-light-7:hover {
  color: #f8baba;
}

.text-red-dark-7 {
  color: #f8baba;
}

.text-red-hover-dark-7:hover {
  color: #450808;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.bg-red-dark-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-red-hover-light-8:hover {
  color: #fad1d1;
}

.text-red-dark-8 {
  color: #fad1d1;
}

.text-red-hover-dark-8:hover {
  color: #2e0505;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.bg-red-dark-8 {
  background-color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-red-hover-light-9:hover {
  color: #fde8e8;
}

.text-red-dark-9 {
  color: #fde8e8;
}

.text-red-hover-dark-9:hover {
  color: #170303;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.bg-red-dark-9 {
  background-color: #fde8e8;
}

.text-yellow {
  color: #e6e619;
}

.text-hover-yellow:hover {
  color: #e6e619;
  cursor: pointer;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.text-yellow-hover-light-1:hover {
  color: #e9e930;
}

.text-yellow-dark-1 {
  color: #e9e930;
}

.text-yellow-hover-dark-1:hover {
  color: #cfcf17;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.bg-yellow-dark-1 {
  background-color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.text-yellow-hover-light-2:hover {
  color: #ebeb47;
}

.text-yellow-dark-2 {
  color: #ebeb47;
}

.text-yellow-hover-dark-2:hover {
  color: #b8b814;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.bg-yellow-dark-2 {
  background-color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.text-yellow-hover-light-3:hover {
  color: #eeee5e;
}

.text-yellow-dark-3 {
  color: #eeee5e;
}

.text-yellow-hover-dark-3:hover {
  color: #a1a112;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.bg-yellow-dark-3 {
  background-color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.text-yellow-hover-light-4:hover {
  color: #f0f075;
}

.text-yellow-dark-4 {
  color: #f0f075;
}

.text-yellow-hover-dark-4:hover {
  color: #8a8a0f;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.bg-yellow-dark-4 {
  background-color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.text-yellow-hover-light-5:hover {
  color: #f3f38c;
}

.text-yellow-dark-5 {
  color: #f3f38c;
}

.text-yellow-hover-dark-5:hover {
  color: #73730d;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.bg-yellow-dark-5 {
  background-color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.text-yellow-hover-light-6:hover {
  color: #f5f5a3;
}

.text-yellow-dark-6 {
  color: #f5f5a3;
}

.text-yellow-hover-dark-6:hover {
  color: #5c5c0a;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.bg-yellow-dark-6 {
  background-color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.text-yellow-hover-light-7:hover {
  color: #f8f8ba;
}

.text-yellow-dark-7 {
  color: #f8f8ba;
}

.text-yellow-hover-dark-7:hover {
  color: #454508;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.bg-yellow-dark-7 {
  background-color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.text-yellow-hover-light-8:hover {
  color: #fafad1;
}

.text-yellow-dark-8 {
  color: #fafad1;
}

.text-yellow-hover-dark-8:hover {
  color: #2e2e05;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.bg-yellow-dark-8 {
  background-color: #fafad1;
}

.text-yellow-light-9 {
  color: #fdfde8;
}

.text-yellow-hover-light-9:hover {
  color: #fdfde8;
}

.text-yellow-dark-9 {
  color: #fdfde8;
}

.text-yellow-hover-dark-9:hover {
  color: #171703;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.bg-yellow-dark-9 {
  background-color: #fdfde8;
}

.text-green {
  color: #19e635;
}

.text-hover-green:hover {
  color: #19e635;
  cursor: pointer;
}

.bg-green {
  background-color: #19e635;
}

.text-green-light-1 {
  color: #30e949;
}

.text-green-hover-light-1:hover {
  color: #30e949;
}

.text-green-dark-1 {
  color: #30e949;
}

.text-green-hover-dark-1:hover {
  color: #17cf30;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.bg-green-dark-1 {
  background-color: #30e949;
}

.text-green-light-2 {
  color: #47eb5d;
}

.text-green-hover-light-2:hover {
  color: #47eb5d;
}

.text-green-dark-2 {
  color: #47eb5d;
}

.text-green-hover-dark-2:hover {
  color: #14b82a;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.bg-green-dark-2 {
  background-color: #47eb5d;
}

.text-green-light-3 {
  color: #5eee72;
}

.text-green-hover-light-3:hover {
  color: #5eee72;
}

.text-green-dark-3 {
  color: #5eee72;
}

.text-green-hover-dark-3:hover {
  color: #12a125;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.bg-green-dark-3 {
  background-color: #5eee72;
}

.text-green-light-4 {
  color: #75f086;
}

.text-green-hover-light-4:hover {
  color: #75f086;
}

.text-green-dark-4 {
  color: #75f086;
}

.text-green-hover-dark-4:hover {
  color: #0f8a20;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.bg-green-dark-4 {
  background-color: #75f086;
}

.text-green-light-5 {
  color: #8cf39a;
}

.text-green-hover-light-5:hover {
  color: #8cf39a;
}

.text-green-dark-5 {
  color: #8cf39a;
}

.text-green-hover-dark-5:hover {
  color: #0d731b;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.bg-green-dark-5 {
  background-color: #8cf39a;
}

.text-green-light-6 {
  color: #a3f5ae;
}

.text-green-hover-light-6:hover {
  color: #a3f5ae;
}

.text-green-dark-6 {
  color: #a3f5ae;
}

.text-green-hover-dark-6:hover {
  color: #0a5c15;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.bg-green-dark-6 {
  background-color: #a3f5ae;
}

.text-green-light-7 {
  color: #baf8c2;
}

.text-green-hover-light-7:hover {
  color: #baf8c2;
}

.text-green-dark-7 {
  color: #baf8c2;
}

.text-green-hover-dark-7:hover {
  color: #084510;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.bg-green-dark-7 {
  background-color: #baf8c2;
}

.text-green-light-8 {
  color: #d1fad7;
}

.text-green-hover-light-8:hover {
  color: #d1fad7;
}

.text-green-dark-8 {
  color: #d1fad7;
}

.text-green-hover-dark-8:hover {
  color: #052e0b;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.bg-green-dark-8 {
  background-color: #d1fad7;
}

.text-green-light-9 {
  color: #e8fdeb;
}

.text-green-hover-light-9:hover {
  color: #e8fdeb;
}

.text-green-dark-9 {
  color: #e8fdeb;
}

.text-green-hover-dark-9:hover {
  color: #031705;
}

.bg-green-light-9 {
  background-color: #e8fdeb;
}

.bg-green-dark-9 {
  background-color: #e8fdeb;
}

.text-orange {
  color: #ffe635;
}

.text-hover-orange:hover {
  color: #ffe635;
  cursor: pointer;
}

.bg-orange {
  background-color: #ffe635;
}

.text-orange-light-1 {
  color: #ffe949;
}

.text-orange-hover-light-1:hover {
  color: #ffe949;
}

.text-orange-dark-1 {
  color: #ffe949;
}

.text-orange-hover-dark-1:hover {
  color: #e6cf30;
}

.bg-orange-light-1 {
  background-color: #ffe949;
}

.bg-orange-dark-1 {
  background-color: #ffe949;
}

.text-orange-light-2 {
  color: #ffeb5d;
}

.text-orange-hover-light-2:hover {
  color: #ffeb5d;
}

.text-orange-dark-2 {
  color: #ffeb5d;
}

.text-orange-hover-dark-2:hover {
  color: #ccb82a;
}

.bg-orange-light-2 {
  background-color: #ffeb5d;
}

.bg-orange-dark-2 {
  background-color: #ffeb5d;
}

.text-orange-light-3 {
  color: #ffee72;
}

.text-orange-hover-light-3:hover {
  color: #ffee72;
}

.text-orange-dark-3 {
  color: #ffee72;
}

.text-orange-hover-dark-3:hover {
  color: #b3a125;
}

.bg-orange-light-3 {
  background-color: #ffee72;
}

.bg-orange-dark-3 {
  background-color: #ffee72;
}

.text-orange-light-4 {
  color: #fff086;
}

.text-orange-hover-light-4:hover {
  color: #fff086;
}

.text-orange-dark-4 {
  color: #fff086;
}

.text-orange-hover-dark-4:hover {
  color: #998a20;
}

.bg-orange-light-4 {
  background-color: #fff086;
}

.bg-orange-dark-4 {
  background-color: #fff086;
}

.text-orange-light-5 {
  color: #fff39a;
}

.text-orange-hover-light-5:hover {
  color: #fff39a;
}

.text-orange-dark-5 {
  color: #fff39a;
}

.text-orange-hover-dark-5:hover {
  color: #80731b;
}

.bg-orange-light-5 {
  background-color: #fff39a;
}

.bg-orange-dark-5 {
  background-color: #fff39a;
}

.text-orange-light-6 {
  color: #fff5ae;
}

.text-orange-hover-light-6:hover {
  color: #fff5ae;
}

.text-orange-dark-6 {
  color: #fff5ae;
}

.text-orange-hover-dark-6:hover {
  color: #665c15;
}

.bg-orange-light-6 {
  background-color: #fff5ae;
}

.bg-orange-dark-6 {
  background-color: #fff5ae;
}

.text-orange-light-7 {
  color: #fff8c2;
}

.text-orange-hover-light-7:hover {
  color: #fff8c2;
}

.text-orange-dark-7 {
  color: #fff8c2;
}

.text-orange-hover-dark-7:hover {
  color: #4d4510;
}

.bg-orange-light-7 {
  background-color: #fff8c2;
}

.bg-orange-dark-7 {
  background-color: #fff8c2;
}

.text-orange-light-8 {
  color: #fffad7;
}

.text-orange-hover-light-8:hover {
  color: #fffad7;
}

.text-orange-dark-8 {
  color: #fffad7;
}

.text-orange-hover-dark-8:hover {
  color: #332e0b;
}

.bg-orange-light-8 {
  background-color: #fffad7;
}

.bg-orange-dark-8 {
  background-color: #fffad7;
}

.text-orange-light-9 {
  color: #fffdeb;
}

.text-orange-hover-light-9:hover {
  color: #fffdeb;
}

.text-orange-dark-9 {
  color: #fffdeb;
}

.text-orange-hover-dark-9:hover {
  color: #1a1705;
}

.bg-orange-light-9 {
  background-color: #fffdeb;
}

.bg-orange-dark-9 {
  background-color: #fffdeb;
}

.text-purple {
  color: #9900ff;
}

.text-hover-purple:hover {
  color: #9900ff;
  cursor: pointer;
}

.bg-purple {
  background-color: #9900ff;
}

.text-purple-light-1 {
  color: #a31aff;
}

.text-purple-hover-light-1:hover {
  color: #a31aff;
}

.text-purple-dark-1 {
  color: #a31aff;
}

.text-purple-hover-dark-1:hover {
  color: #8a00e6;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.bg-purple-dark-1 {
  background-color: #a31aff;
}

.text-purple-light-2 {
  color: #ad33ff;
}

.text-purple-hover-light-2:hover {
  color: #ad33ff;
}

.text-purple-dark-2 {
  color: #ad33ff;
}

.text-purple-hover-dark-2:hover {
  color: #7a00cc;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.bg-purple-dark-2 {
  background-color: #ad33ff;
}

.text-purple-light-3 {
  color: #b84dff;
}

.text-purple-hover-light-3:hover {
  color: #b84dff;
}

.text-purple-dark-3 {
  color: #b84dff;
}

.text-purple-hover-dark-3:hover {
  color: #6b00b3;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.bg-purple-dark-3 {
  background-color: #b84dff;
}

.text-purple-light-4 {
  color: #c266ff;
}

.text-purple-hover-light-4:hover {
  color: #c266ff;
}

.text-purple-dark-4 {
  color: #c266ff;
}

.text-purple-hover-dark-4:hover {
  color: #5c0099;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.bg-purple-dark-4 {
  background-color: #c266ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.text-purple-hover-light-5:hover {
  color: #cc80ff;
}

.text-purple-dark-5 {
  color: #cc80ff;
}

.text-purple-hover-dark-5:hover {
  color: #4d0080;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.bg-purple-dark-5 {
  background-color: #cc80ff;
}

.text-purple-light-6 {
  color: #d699ff;
}

.text-purple-hover-light-6:hover {
  color: #d699ff;
}

.text-purple-dark-6 {
  color: #d699ff;
}

.text-purple-hover-dark-6:hover {
  color: #3d0066;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.bg-purple-dark-6 {
  background-color: #d699ff;
}

.text-purple-light-7 {
  color: #e0b3ff;
}

.text-purple-hover-light-7:hover {
  color: #e0b3ff;
}

.text-purple-dark-7 {
  color: #e0b3ff;
}

.text-purple-hover-dark-7:hover {
  color: #2e004d;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.bg-purple-dark-7 {
  background-color: #e0b3ff;
}

.text-purple-light-8 {
  color: #ebccff;
}

.text-purple-hover-light-8:hover {
  color: #ebccff;
}

.text-purple-dark-8 {
  color: #ebccff;
}

.text-purple-hover-dark-8:hover {
  color: #1f0033;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.bg-purple-dark-8 {
  background-color: #ebccff;
}

.text-purple-light-9 {
  color: #f5e6ff;
}

.text-purple-hover-light-9:hover {
  color: #f5e6ff;
}

.text-purple-dark-9 {
  color: #f5e6ff;
}

.text-purple-hover-dark-9:hover {
  color: #0f001a;
}

.bg-purple-light-9 {
  background-color: #f5e6ff;
}

.bg-purple-dark-9 {
  background-color: #f5e6ff;
}

.text-gray {
  color: #808080;
}

.text-hover-gray:hover {
  color: #808080;
  cursor: pointer;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-gray-hover-light-1:hover {
  color: #8d8d8d;
}

.text-gray-dark-1 {
  color: #8d8d8d;
}

.text-gray-hover-dark-1:hover {
  color: #737373;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.bg-gray-dark-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-gray-hover-light-2:hover {
  color: #999999;
}

.text-gray-dark-2 {
  color: #999999;
}

.text-gray-hover-dark-2:hover {
  color: #666666;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.bg-gray-dark-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-gray-hover-light-3:hover {
  color: #a6a6a6;
}

.text-gray-dark-3 {
  color: #a6a6a6;
}

.text-gray-hover-dark-3:hover {
  color: #5a5a5a;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.bg-gray-dark-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-gray-hover-light-4:hover {
  color: #b3b3b3;
}

.text-gray-dark-4 {
  color: #b3b3b3;
}

.text-gray-hover-dark-4:hover {
  color: #4d4d4d;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.bg-gray-dark-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-gray-hover-light-5:hover {
  color: silver;
}

.text-gray-dark-5 {
  color: silver;
}

.text-gray-hover-dark-5:hover {
  color: #404040;
}

.bg-gray-light-5 {
  background-color: silver;
}

.bg-gray-dark-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-gray-hover-light-6:hover {
  color: #cccccc;
}

.text-gray-dark-6 {
  color: #cccccc;
}

.text-gray-hover-dark-6:hover {
  color: #333333;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.bg-gray-dark-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-gray-hover-light-7:hover {
  color: #d9d9d9;
}

.text-gray-dark-7 {
  color: #d9d9d9;
}

.text-gray-hover-dark-7:hover {
  color: #262626;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.bg-gray-dark-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-gray-hover-light-8:hover {
  color: #e6e6e6;
}

.text-gray-dark-8 {
  color: #e6e6e6;
}

.text-gray-hover-dark-8:hover {
  color: #1a1a1a;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.bg-gray-dark-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-gray-hover-light-9:hover {
  color: #f2f2f2;
}

.text-gray-dark-9 {
  color: #f2f2f2;
}

.text-gray-hover-dark-9:hover {
  color: #0d0d0d;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.bg-gray-dark-9 {
  background-color: #f2f2f2;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
  cursor: pointer;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
  cursor: pointer;
}

.bg-white {
  background-color: white;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #326dee;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-primary:hover {
  transform: translateY(-0.5rem);
}
.btn-primary:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #326dee;
}
.btn-outlined-primary:hover {
  background-color: #326dee;
  color: #fff;
}
.btn-outlined-primary:active {
  transform: scale(0.95);
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #326dee;
  font-weight: bold;
  transition: 0.3s linear;
  color: #f0bc4a;
}
.btn-complement-primary:hover {
  color: #326dee;
  background-color: #f0bc4a;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #1ac888;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-secondary:hover {
  transform: translateY(-0.5rem);
}
.btn-secondary:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #1ac888;
}
.btn-outlined-secondary:hover {
  background-color: #1ac888;
  color: #fff;
}
.btn-outlined-secondary:active {
  transform: scale(0.95);
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #1ac888;
  font-weight: bold;
  transition: 0.3s linear;
  color: #df1d64;
}
.btn-complement-secondary:hover {
  color: #1ac888;
  background-color: #df1d64;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #d32752;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-error:hover {
  transform: translateY(-0.5rem);
}
.btn-error:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #d32752;
}
.btn-outlined-error:hover {
  background-color: #d32752;
  color: #fff;
}
.btn-outlined-error:active {
  transform: scale(0.95);
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #d32752;
  font-weight: bold;
  transition: 0.3s linear;
  color: #39dab2;
}
.btn-complement-error:hover {
  color: #d32752;
  background-color: #39dab2;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #f6c31c;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-info:hover {
  transform: translateY(-0.5rem);
}
.btn-info:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #f6c31c;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
  color: #fff;
}
.btn-outlined-info:active {
  transform: scale(0.95);
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #f6c31c;
  font-weight: bold;
  transition: 0.3s linear;
  color: #3562f7;
}
.btn-complement-info:hover {
  color: #f6c31c;
  background-color: #3562f7;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #1919e6;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-blue:hover {
  transform: translateY(-0.5rem);
}
.btn-blue:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #1919e6;
}
.btn-outlined-blue:hover {
  background-color: #1919e6;
  color: #fff;
}
.btn-outlined-blue:active {
  transform: scale(0.95);
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #1919e6;
  font-weight: bold;
  transition: 0.3s linear;
  color: #e9e930;
}
.btn-complement-blue:hover {
  color: #1919e6;
  background-color: #e9e930;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #e61919;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-red:hover {
  transform: translateY(-0.5rem);
}
.btn-red:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #e61919;
}
.btn-outlined-red:hover {
  background-color: #e61919;
  color: #fff;
}
.btn-outlined-red:active {
  transform: scale(0.95);
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #e61919;
  font-weight: bold;
  transition: 0.3s linear;
  color: #30e9e9;
}
.btn-complement-red:hover {
  color: #e61919;
  background-color: #30e9e9;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #e6e619;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-yellow:hover {
  transform: translateY(-0.5rem);
}
.btn-yellow:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #e6e619;
}
.btn-outlined-yellow:hover {
  background-color: #e6e619;
  color: #fff;
}
.btn-outlined-yellow:active {
  transform: scale(0.95);
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #e6e619;
  font-weight: bold;
  transition: 0.3s linear;
  color: #3030e9;
}
.btn-complement-yellow:hover {
  color: #e6e619;
  background-color: #3030e9;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #19e635;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-green:hover {
  transform: translateY(-0.5rem);
}
.btn-green:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #19e635;
}
.btn-outlined-green:hover {
  background-color: #19e635;
  color: #fff;
}
.btn-outlined-green:active {
  transform: scale(0.95);
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #19e635;
  font-weight: bold;
  transition: 0.3s linear;
  color: #e930cf;
}
.btn-complement-green:hover {
  color: #19e635;
  background-color: #e930cf;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #ffe635;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-orange:hover {
  transform: translateY(-0.5rem);
}
.btn-orange:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #ffe635;
}
.btn-outlined-orange:hover {
  background-color: #ffe635;
  color: #fff;
}
.btn-outlined-orange:active {
  transform: scale(0.95);
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #ffe635;
  font-weight: bold;
  transition: 0.3s linear;
  color: #4f64ff;
}
.btn-complement-orange:hover {
  color: #ffe635;
  background-color: #4f64ff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #9900ff;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-purple:hover {
  transform: translateY(-0.5rem);
}
.btn-purple:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
  color: #fff;
}
.btn-outlined-purple:active {
  transform: scale(0.95);
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #9900ff;
  font-weight: bold;
  transition: 0.3s linear;
  color: #75ff1a;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: #75ff1a;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #808080;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-gray:hover {
  transform: translateY(-0.5rem);
}
.btn-gray:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid #808080;
}
.btn-outlined-gray:hover {
  background-color: #808080;
  color: #fff;
}
.btn-outlined-gray:active {
  transform: scale(0.95);
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #808080;
  font-weight: bold;
  transition: 0.3s linear;
  color: #8d8d8d;
}
.btn-complement-gray:hover {
  color: #808080;
  background-color: #8d8d8d;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: black;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-black:hover {
  transform: translateY(-0.5rem);
}
.btn-black:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
  color: #fff;
}
.btn-outlined-black:active {
  transform: scale(0.95);
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: black;
  font-weight: bold;
  transition: 0.3s linear;
  color: #0d0d0d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #0d0d0d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  transition: 0.3s linear;
}
.btn-white:hover {
  transform: translateY(-0.5rem);
}
.btn-white:active {
  transform: translateY(-0.25rem) scale(0.95);
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
  color: #fff;
}
.btn-outlined-white:active {
  transform: scale(0.95);
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  transition: 0.3s linear;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

/*
// properties still to add
padding:  right top bottom
margin: left  right top bottom {prefix: m}
opacity: {prefix: o} value{10: 0.1, 20: 0.2, ... 90:0.9, 100:1}
border-radius: {prefix: br}
*/
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

/*# sourceMappingURL=master.css.map */
