@use 'sass:math';
//import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* reset styles */
*{
  box-sizing: border-box;
  margin: 0;
  color: inherit;
}

body{
  font-family: 'Poppins', sans-serif;
}

img{
  max-width: 100%;
}

ul{
  padding: 0;
  list-style: none;
}

li{
  display: inline-block;
}

a{
  text-decoration: none;
}

.error{
  color: $clr-err;
  border-color: $clr-err;
  border-style: solid;
  margin: $base-margin;
  padding: .5rem $base-padding;
  border-radius: math.div($base-border-radius,4);
}

.notification{
  color: $clr-info;
  border-color: $clr-info;
  border-style: solid;
  padding: $base-padding;

}
