@each $key, $val in $colors {
  .text-#{$key}{
    color: $val;
  }
  .text-hover-#{$key}{
    &:hover{
      color: $val;
      cursor: pointer;
    }
  }
  .bg-#{$key}{
    background-color: $val;
  }

  @for $i from 1 through 9 {

    @if ($key != "black" and $key != "white") {
      .text-#{$key}-light-#{$i}{
        color: mix(white, $val, $i * 10);
      }

      .text-#{$key}-hover-light-#{$i}{
        &:hover{
          color: mix(white, $val, $i * 10);
        }
      }

      .text-#{$key}-dark-#{$i}{
        color: mix(white, $val, $i * 10);
      }

      .text-#{$key}-hover-dark-#{$i}{
        &:hover{
          color: mix(black, $val, $i * 10);
        }
      }


      .bg-#{$key}-light-#{$i}{
        background-color: mix(white, $val, $i * 10);
      }

      .bg-#{$key}-dark-#{$i}{
        background-color: mix(white, $val, $i * 10);
      }
    }

  }

}
