
// reset default buttons
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

@mixin btn(){
  font-weight: bold;
  text-transform: uppercase;
  border-radius: .5rem;
  padding: 1rem 2rem;
}

@mixin btn--round(){
  border-radius: 1.5rem;
}

@mixin btn--rect(){
  border-radius: 0;
}

@mixin btn-clr($clr, $bg-clr, $br-clr){
  @include btn();
  background-color: $bg-clr;
  border: solid 2px $br-clr;
  color: $clr;
}

@mixin btn-clr-hover($clr, $bg-clr, $br-clr){
  color: $clr;
  background-color: $bg-clr;
  border: solid 2px $br-clr;
}

@mixin btn-clr-active($clr, $bg-clr, $br-clr){
  color: $clr;
  background-color: $bg-clr;
  border: solid 2px $br-clr;
}

[class*="btn"]{
  @include btn-clr(white, #00b4d8, #00b4d8);

  &:hover{
    @include btn-clr-hover(white, #90e0ef, #90e0ef);
  }
  &:active{
    @include btn-clr-active(white, #48cae4, #48cae4)
  }
}


/* COlOR section */

[class*="--default"]{
  @include btn-clr(#081c15, #E0E0E0, #E0E0E0);
  &:hover{
    @include btn-clr-hover(white, #AEAEAE, #AEAEAE);
  }
  &:active{
    @include btn-clr-active(#081c15, #E0E0E0, #E0E0E0);
  }
}

[class*="--primary"]{
  @include btn-clr(white, #00b4d8, #00b4d8);
  &:hover{
    @include btn-clr-hover(white, #90e0ef, #90e0ef);
  }
  &:active{
    @include btn-clr-active(#081c15, #48cae4, #48cae4);
  }
}

[class*="--error"]{
  @include btn-clr(white, #d90429, #d90429);
  &:hover{
    @include btn-clr-hover(white, #f94144, #f94144);
  }
  &:active{
    @include btn-clr-active(white, #d90429, #d90429);
  }
}

[class*="--outline"]{
  @include btn-clr(inherit, transparent, inherit);
}



/* SHAPE section */


[class*="--round"]{
  @include btn--round();
}

[class*="--rect"]{
  @include btn--rect();
}
