// create a button class library.
/*
- develop a each and loop through colors.
text-decoration: none;
cursor: pointer;
display: inline-block;
border: 0;
padding: $base-padding $base-padding*2;
border-radius: $base-border-radius;
background-color: $val;

*/
