//import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* reset styles */
*{
  box-sizing: border-box;
  margin: 0;
  color: inherit;
}

body{
  font-family: 'Poppins', sans-serif;
}

img{
  max-width: 100%;
}

ul{
  padding: 0;
  list-style: none;
}

li{
  display: inline-block;
}

a{
  text-decoration: none;
}
